# Flutter
build/
.dart_tool/
.packages
.pub/
.metadata

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Android
android/app/build/
android/.gradle/
android/gradle/
android/gradlew*
android/local.properties

# Web
web/assets/

# Logs
*.log
# Build files
main.dart.js
flutter.js
flutter_bootstrap.js
flutter_service_worker.js
*.map
build/
.dart_tool/
.vercel
